<template>
    <div class="modal fade" id="add_team_list" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавить новый команд</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nameTeam">Имя команда </label>
                        <input type="text" class="form-control" id="nameTeam" v-model="team.club">
                    </div>
                    <div class="card card-default">
                        <div class="card-header">Изображение команда</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3" v-if="post.imageClub">
                                    <img :src="imageShowClub" class="img-responsive" height="70" width="90">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Загрузить</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" @change="onImageChangeClub" ref="fileClub"
                                               class="form-control" id="imgClub">
                                        <label class="custom-file-label cursor-pointers" for="imgClub">Выберите
                                            файл</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="trainer">Главный тренер</label>
                        <input type="text" class="form-control" id="trainer" v-model="team.trainer">
                    </div>
                    <div class="card card-default">
                        <div class="card-header">Изображение тренера</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3" v-if="post.image">
                                    <img :src="imageShow" class="img-responsive" height="70" width="90">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Загрузить</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" @change="onImageChange" ref="file"
                                               class="form-control" id="inputGroupFile01">
                                        <label class="custom-file-label cursor-pointers" for="inputGroupFile01">Выберите
                                            файл</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" @click="saveNewTeam()"
                            :disabled='!isComplete'>
                        Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {mapActions} from "vuex";

    export default {
        name: "AddTeamList",
        data() {
            return {
                team: {
                    club: '',
                    trainer: '',
                },
                post: {
                    image: '',
                    imageClub: '',
                },
                imageShow: '',
                imageShowClub: '',
            }
        },
        computed: {
            isComplete() {
                return this.team.club && this.team.trainer && this.post.image && this.post.imageClub;
            }
        },
        methods: {
            ...mapActions(['addNewTeam']),
            saveNewTeam() {
                let data = {
                    club: this.team.club,
                    trainer: this.team.trainer,
                    file: this.post.image,
                    fileClub: this.post.imageClub
                }
                this.addNewTeam(data);
                this.team.club = '',
                    this.team.trainer = ''
                this.$refs.file.value = null;
                this.$refs.fileClub.value = null;
                this.post.image = '',
                    this.post.imageClub = ''
            },
            onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.post.image = this.$refs.file.files[0];
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.imageShow = e.target.result;
                };
                reader.readAsDataURL(files[0]);
            },
            onImageChangeClub(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;

                this.post.imageClub = this.$refs.fileClub.files[0];
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.imageShowClub = e.target.result;
                };
                reader.readAsDataURL(files[0]);
            },
        },
    }
</script>

<style scoped>
    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
</style>

