<template>
    <div>
        <add-team-structure/>
        <edit-team-structure/>
        <h2 class="text-center mt-3" style="color: #26a69a">Состав Команды</h2>
        <div class="content">
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">Состав Команды</h5>
                   <div>
                   </div>
                    <button class="btn btn-primary" @click="openModalTeamStructure">Добавить игрок +</button>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>Команд</th>
                            <th>Список футболистов</th>
                            <th>Номера футболистов</th>
                            <th>Год рождения</th>
                            <th class="text-right"></th>
                        </tr>
                        <tr v-for="teamStr in getAllTeamStr">
                            <td>{{ teamStr.get_all_clubs.club }}</td>
                            <td>{{ teamStr.player_name }}</td>
                            <td>{{ teamStr.player_number }}</td>
                            <td>{{ teamStr.birthday }}</td>
                            <td class="text-right">
                                <div class="list-icons">
                                    <p class="list-icons-item text-primary-600 m-0 mr-2 cursor-pointer" @click="editTeamStr(teamStr.id)">
                                        <i class="icon-pencil7"></i>
                                    </p>
                                    <p class="list-icons-item text-danger-600 m-0 cursor-pointer" @click="deleteTeamStr(teamStr.id)">
                                        <i class="icon-trash"></i>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";
    import AddTeamStructure from "../../Modals/teamStructure/AddTeamStructure";
    import EditTeamStructure from "../../Modals/teamStructure/EditTeamStructure";

    export default {
        name: "CommandStructure",

        data() {
            return{
                teamStClub: ''
            }
        },
        computed: {
          ...mapGetters([
              'getAllTeamStr'
          ])
        },
        components: {
            'add-team-structure' : AddTeamStructure,
            'edit-team-structure' : EditTeamStructure
        },
        methods: {
            ...mapActions(['getAllTeamStructure', 'deleteTeamStruct', 'getOneTeamStructure']),

            editTeamStr(id){
                this.getOneTeamStructure(id);
                $("#edit_team_structure").modal();
            },

            deleteTeamStr(id){
                this.$swal({
                    title: 'Are you sure?',
                    text: 'You can\'t revert your action',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes Delete it!',
                    cancelButtonText: 'No, Keep it!',
                    showCloseButton: true,
                    showLoaderOnConfirm: true
                }).then(() => {
                    this.deleteTeamStruct(id);
                    this.$swal('Deleted', 'You successfully deleted this file', 'success')
                })

            },

            openModalTeamStructure(){
              $("#add_team_structure").modal();
            },
        },
        created() {
            this.getAllTeamStructure()
        }
    }
</script>

<style scoped>

</style>
