<template>
    <div>
        <add-team-list/>
        <edit-team-list/>
        <h2 class="text-center mt-3" style="color: #26a69a">Список команд</h2>
        <div class="content">
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">Список команд</h5>
                    <button class="btn btn-primary" @click="modalAddTeam">Добавить команд +</button>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>Команд</th>
                            <th>Главный тренер</th>
                            <th class="text-right"></th>
                        </tr>
                        <tr v-for="teamList in teamLists">
                            <td>{{ teamList.club }}</td>
                            <td>{{ teamList.trainer }}</td>
                            <td class="text-right">
                                <div class="list-icons">
                                    <p class="list-icons-item text-primary-600 m-0 mr-2 cursor-pointer"
                                       @click="openModalEditTeamList(teamList.id)">
                                        <i class="icon-pencil7"></i>
                                    </p>
                                    <p class="list-icons-item text-danger-600 m-0 cursor-pointer"
                                       @click="deleteTeam(teamList.id)">
                                        <i class="icon-trash"></i>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";
    import AddTeamList from "../../Modals/teamList/AddTeamList";
    import EditTeamList from "../../Modals/teamList/EditTeamList";

    export default {
        name: "TeamList",
        data() {
            return {}
        },
        components: {
            'add-team-list': AddTeamList,
            'edit-team-list': EditTeamList,
        },
        computed: {
            ...mapGetters([
                'teamLists'
            ]),
        },
        methods: {
            ...mapActions(['getTeamLists', 'deleteTeamById', 'getResultTeamList']),

            deleteTeam(id) {
                this.$swal({
                    title: 'Are you sure?',
                    text: 'You can\'t revert your action',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes Delete it!',
                    cancelButtonText: 'No, Keep it!',
                    showCloseButton: true,
                    showLoaderOnConfirm: true
                }).then(() => {
                    this.deleteTeamById(id);
                    this.$swal('Deleted', 'You successfully deleted this file', 'success')
                })

            },

            modalAddTeam() {
                $("#add_team_list").modal();
            },

            openModalEditTeamList(id) {
                this.getResultTeamList(id);

                $("#edit_team_list").modal();
            },
        },
        created() {
            this.getTeamLists().then((response) => {
                this.teamLists;
            });
        },
    }
</script>

<style scoped>

</style>
