<template>
    <div>
        <user-modal></user-modal>
        <h2 class="text-center mt-3" style="color: #26a69a">Пользователи</h2>

        <div class="content">
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">Пользователи</h5>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>Телефонный номер</th>
                            <th>Дата создания</th>
                            <th class="text-right"></th>
                        </tr>
                        <tr v-for="user in getAllUsers">
                            <td><input type="text" class="input_style_edit" v-model="user.phone" disabled></td>
                            <td>{{ user.created_at }}</td>
                            <td class="text-right">
                                <div v-if="user.id > 1">
                                    <div class="list-icons">
                                        <p class="list-icons-item text-primary-600 m-0 cursor-pointer mr-2"
                                           @click="openModalEditUser(user.id)">
                                            <i class="icon-pencil7"></i>
                                        </p>
                                        <p href="#" class="list-icons-item text-danger-600 m-0 cursor-pointer"
                                           @click="deleteUser(user.id)">
                                            <i class="icon-trash"></i>
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";
    import Modals from "../../Modals/updateUser/Modals";

    export default {
        name: "Users",

        data() {
            return {}
        },
        computed: {
            ...mapGetters([
                'getAllUsers'
            ])
        },
        components: {
            'user-modal': Modals,
        },
        methods: {
            ...mapActions(['getUsers', 'deleteUserById', 'getUserById']),

            deleteUser(id) {
                this.$swal({
                    title: 'Are you sure?',
                    text: 'You can\'t revert your action',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes Delete it!',
                    cancelButtonText: 'No, Keep it!',
                    showCloseButton: true,
                    showLoaderOnConfirm: true
                }).then(() => {
                    this.deleteUserById(id);
                    this.$swal('Deleted', 'You successfully deleted this file', 'success')
                })
            },

            openModalEditUser(id) {
                this.getUserById(id);
                $("#edit_user").modal();
            }
        },
        created() {
            this.getUsers();
        }
    }
</script>

<style scoped>
    .input_style_edit {
        background-color: #fff;
        border: none;
    }
</style>
