<template>
    <div>
        <div class="navbar navbar-expand-md navbar-light">
            <div class="navbar-header navbar-dark d-none d-md-flex align-items-md-center">
                <div class="navbar-brand navbar-brand-md p-0">
                    <a href="#" class="text-white" style="font-size: 24px">
                        My Admin
                    </a>
                </div>
                <div class="navbar-brand navbar-brand-xs">
                    <a href="#" class="d-inline-block">
                        <img src="#" alt="">
                    </a>
                </div>
            </div>
            <div class="d-flex flex-1 d-md-none">
                <div class="navbar-brand mr-auto">
                    <a href="#" class="d-inline-block">
                        <img src="#" alt="">
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                    <i class="icon-tree5"></i>
                </button>
                <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                    <i class="icon-paragraph-justify3"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-sm-between" id="navbar-mobile">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <p class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block m-0">
                            <i class="icon-paragraph-justify3"></i>
                        </p>
                    </li>
                </ul>
                <div>
                    <p @click="logout()" class="dropdown-item" style="color: rgba(51,51,51,.85);">
                        <i class="icon-enter2 mr-1" style="color: rgba(51,51,51,.85);"></i>Выйти
                    </p>
                </div>
            </div>
        </div>
        <div class="page-content">
            <div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">
                <div class="sidebar-mobile-toggler text-center">
                    <a href="#" class="sidebar-mobile-main-toggle">
                        <i class="icon-arrow-left8"></i>
                    </a>
                    Navigation
                    <a href="#" class="sidebar-mobile-expand">
                        <i class="icon-screen-full"></i>
                        <i class="icon-screen-normal"></i>
                    </a>
                </div>
                <div class="sidebar-content">
                    <div class="card card-sidebar-mobile" :style="{height: windowHeight + 'px'}">
                        <ul class="nav nav-sidebar" data-nav-type="accordion">
                            <li class="nav-item-header">
                                <i class="icon-menu" title="Main"></i></li>
                            <li class="nav-item">
                                <a href="#" class="nav-link active">
                                    <i class="icon-home4"></i>
                                    <span>Панель</span>
                                </a>
                            </li>
                            <router-link to="/team_list" class="nav-item nav-item-submenu" teg="li">
                                <a href="#" class="nav-link">
                                    <i class="icon-list-numbered"></i><span>Список команд</span>
                                </a>
                            </router-link>
                            <router-link to="/command_structure" class="nav-item nav-item-submenu" teg="li">
                                <a href="#" class="nav-link">
                                    <i class="icon-strategy"></i><span>Состав Команды</span>
                                </a>
                            </router-link>
                            <router-link to="/results" class="nav-item nav-item-submenu" teg="li">
                                <a href="#" class="nav-link">
                                    <i class="icon-clipboard3"></i><span>Результаты</span>
                                </a>
                            </router-link>
                            <router-link to="/users" class="nav-item nav-item-submenu" teg="li">
                                <a href="#" class="nav-link">
                                    <i class="icon-users4"></i><span>Пользователи</span>
                                </a>
                            </router-link>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="content pt-0">
                    <router-view/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions} from "vuex";
    import App from "../../App";
    export default {
        data() {
            return {
                user: {
                    email: '',
                    password: ''
                },
                windowHeight: 0,
            }
        },
        components: {
            appIndex: App,
        },
        methods: {
            ...mapActions(['logoutAction']),
            logout() {
                this.logoutAction().then(res => {
                    this.$router.push({
                        name: 'login'
                    })
                })
            },
            handleResize() {
                this.windowHeight = window.innerHeight - 50;
            }
        },
        mounted() {
        },
        created() {
            window.addEventListener('resize', this.handleResize)
            this.handleResize();
            if (!localStorage.getItem('token')) {
                this.$router.push({
                    name: 'login',
                });
            }
        },
        destroyed() {
            window.removeEventListener('resize', this.handleResize)
        },
    }
</script>
